@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e1e;
  color: #fff;
}

.gradient {
  background: #7f00ff;
  background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); 
  background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); 
}
